In [1]:
import numpy as np
import pandas as pd

In [2]:
# read the csv file
df = pd.read_csv("preprocessed_NYPD_Complaint_Data_Historic_short.csv")

In [3]:
df.columns = map(lambda x: x.lower(), df.columns)

In [4]:
df[:15]

,cmplnt_fr_dt,cmplnt_fr_tm,law_cat_cd,addr_pct_cd,x_coord_cd,y_coord_cd,latitude,longitude
0,12/31/2015,23:45:00,0,44.0,1007314.0,241257.0,40.828848,-73.916661
1,12/31/2015,23:36:00,0,103.0,1043991.0,193406.0,40.697338,-73.784557
2,12/31/2015,23:30:00,0,28.0,999463.0,231690.0,40.802607,-73.945052
3,12/31/2015,23:30:00,1,105.0,1060183.0,177862.0,40.654549,-73.726339
4,12/31/2015,23:25:00,1,13.0,987606.0,208148.0,40.738002,-73.987891
5,12/31/2015,23:18:00,0,71.0,996149.0,181562.0,40.665023,-73.957111
6,12/31/2015,23:15:00,1,7.0,987373.0,201662.0,40.720200,-73.988735
7,12/31/2015,23:15:00,0,46.0,1009041.0,247401.0,40.845707,-73.910398
8,12/31/2015,23:15:00,1,48.0,1014154.0,251416.0,40.856711,-73.891900
9,12/31/2015,23:10:00,1,19.0,994327.0,218211.0,40.765618,-73.963623
10,12/31/2015,23:05:00,1,41.0,1014216.0,238784.0,40.822040,-73.891732
11,12/31/2015,23:00:00,1,13.0,988113.0,206263.0,40.732828,-73.986063
12,12/31/2015,23:00:00,0,14.0,987215.0,215403.0,40.757916,-73.989299
13,12/31/2015,23:00:00,0,14.0,987215.0,215403.0,40.757916,-73.989299
14,12/31/2015,23:00:00,0,67.0,1004325.0,174113.0,40.644562,-73.927662

In [5]:
region_info = pd.read_csv('precinct_mean.csv')

In [6]:
region_info[:40]

     latitude  longitude  cluster_label  addr_pct_cd
0   40.714904 -74.007250              5          1.0
1   40.719196 -73.995848              5          5.0
2   40.733826 -74.000703              5          6.0
3   40.716783 -73.985396              5          7.0
4   40.726881 -73.984587              5          9.0
5   40.747880 -74.000520              5         10.0
6   40.739290 -73.987095              5         13.0
7   40.752387 -73.988206              5         14.0
8   40.752626 -73.971816              0         17.0
9   40.762442 -73.983264              0         18.0
10  40.772910 -73.956823              0         19.0
11  40.778732 -73.980859              0         20.0
12  40.779621 -73.968051              0         22.0
13  40.791981 -73.944583              0         23.0
14  40.795554 -73.968708              0         24.0
15  40.802087 -73.936985              0         25.0
16  40.812604 -73.957234              0         26.0
17  40.804853 -73.950570              0         28.0
18  40.825239 -73.949139              9         30.0
19  40.819308 -73.941328              9         32.0
20  40.840089 -73.940028              9         33.0
21  40.858847 -73.927802              9         34.0
22  40.813563 -73.916953              9         40.0
23  40.815974 -73.891974              9         41.0
24  40.831134 -73.900206              9         42.0
25  40.827604 -73.864835              4         43.0
26  40.834438 -73.918535              9         44.0
27  40.844292 -73.828052              4         45.0
28  40.853276 -73.906774              9         46.0
29  40.885496 -73.853223              4         47.0
30  40.849085 -73.888073              9         48.0
31  40.857616 -73.859147              4         49.0
32  40.882512 -73.903756              9         50.0
33  40.869579 -73.891897              9         52.0
34  40.579655 -73.981013              1         60.0
35  40.595935 -73.951074              1         61.0
36  40.607099 -73.992966              1         62.0
37  40.621554 -73.926271              3         63.0
38  40.633988 -73.985019              1         66.0
39  40.650114 -73.935673              3         67.0

In [7]:
df['cluster_label'] = 0

In [8]:
for i in df['addr_pct_cd'].unique():
    df['cluster_label'][df['addr_pct_cd']==i] = int(region_info['cluster_label'][region_info['addr_pct_cd']==i])

/Users/zexichen/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [9]:
df[:20]

,cmplnt_fr_dt,cmplnt_fr_tm,law_cat_cd,addr_pct_cd,x_coord_cd,y_coord_cd,latitude,longitude,cluster_label
0,12/31/2015,23:45:00,0,44.0,1007314.0,241257.0,40.828848,-73.916661,9
1,12/31/2015,23:36:00,0,103.0,1043991.0,193406.0,40.697338,-73.784557,2
2,12/31/2015,23:30:00,0,28.0,999463.0,231690.0,40.802607,-73.945052,0
3,12/31/2015,23:30:00,1,105.0,1060183.0,177862.0,40.654549,-73.726339,2
4,12/31/2015,23:25:00,1,13.0,987606.0,208148.0,40.738002,-73.987891,5
5,12/31/2015,23:18:00,0,71.0,996149.0,181562.0,40.665023,-73.957111,3
6,12/31/2015,23:15:00,1,7.0,987373.0,201662.0,40.720200,-73.988735,5
7,12/31/2015,23:15:00,0,46.0,1009041.0,247401.0,40.845707,-73.910398,9
8,12/31/2015,23:15:00,1,48.0,1014154.0,251416.0,40.856711,-73.891900,9
9,12/31/2015,23:10:00,1,19.0,994327.0,218211.0,40.765618,-73.963623,0
10,12/31/2015,23:05:00,1,41.0,1014216.0,238784.0,40.822040,-73.891732,9
11,12/31/2015,23:00:00,1,13.0,988113.0,206263.0,40.732828,-73.986063,5
12,12/31/2015,23:00:00,0,14.0,987215.0,215403.0,40.757916,-73.989299,5
13,12/31/2015,23:00:00,0,14.0,987215.0,215403.0,40.757916,-73.989299,5
14,12/31/2015,23:00:00,0,67.0,1004325.0,174113.0,40.644562,-73.927662,3
15,12/31/2015,23:00:00,0,103.0,1044662.0,197327.0,40.708096,-73.782102,2
16,12/31/2015,23:00:00,0,17.0,993034.0,214414.0,40.755197,-73.968296,0
17,12/31/2015,23:00:00,1,48.0,1014139.0,251858.0,40.857924,-73.891952,9
18,12/31/2015,23:00:00,1,61.0,993932.0,160170.0,40.606309,-73.965133,1
19,12/31/2015,22:55:00,1,102.0,1022298.0,186863.0,40.679499,-73.862825,8

In [10]:
aggregated_by_date_df = df.groupby(['cluster_label', 'cmplnt_fr_dt']).count()['addr_pct_cd']

In [11]:
for i in range(10):
    (aggregated_by_date_df[i]).to_csv('time_series/time_series_of_cluster_{}.csv'.format(i))

In [13]:
for i in range(10):
    df = pd.read_csv('time_series/time_series_of_cluster_{}.csv'.format(i))
    df.columns = ['date', 'count']
    df['date'] = df['date'].apply(lambda x: x[:-4] + str(int(x[-4:]) + 1000) if int(x[-4:]) < 1900 else x)
    df.to_csv('time_series/time_series_of_cluster_{}.csv'.format(i), index=False)